$intense: #ffffff;
$rich: #fbfbfb;
$great: #f1f1f1;
$grand: #fafafa;
$fine: #9c9c9c;
$trendy: #202020;
$fancy: #535353;
$dense: #000000;
$rare: rgba(0, 0, 0, 0.06);
$rarest: rgba(0, 0, 0, 0.02);
$brittle: #e0e0e0;
$flexible: #999999;
$primary: #2d74ff;
$basic: #5790ff;
$initial: #1664ff;
$original: #7ba6fb;
$positive: #b4b4b4;
$negative: #d0d2d3;
$pesky: rgba(0, 0, 0, 0.6);
$accent: #ff1717;
$spot: #e30000;
$stress: #fff2f2;
$success: #00c98d;
$lucky: #f6fffd;
$peaceful: #c9dcff;
$quiet: #9fc1ff;
$tender: #ebf2ff;
$home: #1B1C1E;
$genius: #fffdd4;
$wise: #ffa500;
$weak: #fff3dd;
$simple: #e7fffa;
$soft: #1A5387;
$glossy: #82C3FF;
$crude: #d9d9d9;
$mild: #ebebeb;
$calm: #518ef8;
$smart: #f36fa0;
