$secondary: rgba(0, 0, 0, 0.3);
$genius: #404040;
$wise: #353535;
$smart: #303030;
$peaceful: #a7b5de;
$quiet: #90a3da;
$calm: #8197d8;
$weak: rgba(0, 0, 0, 0.25);
$clear: rgb(65, 65, 65);
$pure: rgb(108, 108, 108);
$simple: rgba(174, 174, 174, 0.63);
$net: rgb(105, 105, 105);
$wet: #616161;
$crude: #545454;
$speck: #ca9f9d7c;
$dangerous: #ffedf3;
$soft: #d8dbe6;
$mild: #b6c1e1;
$tender: #a7b5de;
$alt: #3f3f3f;
$home: #363D47;
$lucky: #F2F5FF;
$neutral: #979797;
$glossy: #697baf;
$fortunate: #5cc56e;

$intense: #ffffff;
$rich: #fbfbfb;
$great: #f1f1f1;
$fine: #9c9c9c;
$trendy: #202020;
$fancy: #535353;
$dense: #000000;
$rare: rgba(0, 0, 0, 0.06);
$brittle: #e0e0e0;
$flexible: #999999;
$primary: #2d74ff;
$basic: #5790ff;
$initial: #1664ff;
$original: #7ba6fb;
$positive: #b4b4b4;
$negative: #d0d2d3;
$pesky: rgba(0, 0, 0, 0.6);
$accent: #ff1717;
$spot: #e30000;
$stress: #fff2f2;
$success: #00c98d;
$lucky: #f6fffd;
