$primary: #ffa500;
$basic: #ed9a00;
$initial: #d58a00;
$secondary: rgba(0, 0, 0, 0.3);
$genius: #404040;
$wise: #353535;
$smart: #303030;
$intense: #ffffff;
$trendy: #b9b9b9;
$peaceful: #a7b5de;
$quiet: #90a3da;
$calm: #8197d8;
$pesky: rgba(0, 0, 0, 0.4);
$weak: rgba(0, 0, 0, 0.25);
$clear: rgb(65, 65, 65);
$pure: rgb(108, 108, 108);
$simple: rgba(174, 174, 174, 0.63);
$net: rgb(105, 105, 105);
$wet: #616161;
$crude: #545454;
$speck: #ca9f9d7c;
$accent: #dd3a31;
$spot: #bb0000;
$dangerous: #ffedf3;
$soft: #d8dbe6;
$mild: #b6c1e1;
$tender: #a7b5de;
$alt: #3f3f3f;
$home: #363D47;
$lucky: #F2F5FF;
$positive: #b4b4b4;
$negative: #d0d2d3;
$neutral: #979797;
$glossy: #697baf;
$fortunate: #5cc56e;
