@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./inter/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./inter/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans'), url('./plus-jakarta-sans/PlusJakartaSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans'), url('./plus-jakarta-sans/PlusJakartaSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans'), url('./plus-jakarta-sans/PlusJakartaSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
