@use 'sass:map';

$media-breakpoints: (
  xsmall: 480px,
  small: 600px,
  small--toast: 601px,
  tablet: 868px,
  medium: 1024px,
  xmedium: 1280px,
  large: 1400px,
  xlarge: 1920px,
  xlarge2k: 2048px,
  xlarge4k: 4096px,
);

@mixin respond-to ($media) {
  $breakpoint: map.get($media-breakpoints, $media);

  @if $breakpoint {
    @media (max-width: ($breakpoint - 1)) {
      @content;
    }
  }

  @else {
    @media (max-width: ($media - 1)) {
      @content;
    }
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin field-label {
  display: inline-block;
  padding-bottom: toRem(8);

  @include body-large-inter;
}

@mixin note {
  display: flex;
  gap: toRem(16);
  color: var(--col-trendy);
  background: var(--col-tender);
  border: toRem(1) solid var(--col-primary);
  border-radius: var(--border-radius-medium);
  padding: toRem(24);
  font-feature-settings: 'tnum' on, 'lnum' on;
  transition: background-color var(--transition-duration-slow);

  @include body-large-inter;

  @include respond-to(tablet) {
    gap: toRem(8);
    padding: toRem(12);
  }
}

@mixin note-info {
  &:hover {
    background: var(--col-quantum);
  }
}

@mixin note-error {
  background: var(--col-stress);
  border-color: var(--col-accent);

  &:hover {
    background: var(--col-tensity);
  }
}

@mixin note-success {
  background: var(--col-lucky);
  border-color: var(--col-success);

  &:hover {
    background: var(--col-happy);
  }
}

@mixin note-warning {
  background: var(--col-weak);
  border-color: var(--col-wise);

  &:hover {
    background: var(--col-flabby);
  }
}

@mixin outline-brittle-dropdown {
  background: var(--col-intense);
  border: toRem(1) solid var(--col-brittle);
  border-radius: var(--border-radius);
  padding: toRem(3) 0;
  transition-property: transform, border-color;
  transition-duration: var(--transition-duration);
  overflow: hidden;

  &:hover {
    border-color: var(--col-flexible);
  }
}

@mixin outline-brittle-dropdown-item {
  width: 100%;
  transition: background-color var(--transition-duration);

  &:hover {
    background: var(--col-grand);
  }

  &:active {
    background: var(--col-brittle);
  }
}

@mixin body-large { // body-1, body-3
  font-family: 'Plus Jakarta Sans', 'Arial', sans-serif;
  font-size: toRem(16);
  line-height: toRem(24);
  font-weight: 500;

  @include respond-to(tablet) {
    font-size: toRem(14);
    line-height: toRem(20);
  }
}

@mixin body-large-inter { // body 2 inter
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: toRem(16);
  line-height: toRem(24);
  font-weight: 400;

  @include respond-to(tablet) {
    font-family: 'Plus Jakarta Sans', 'Arial', sans-serif;
    font-size: toRem(14);
    line-height: toRem(20);
  }
}

@mixin body-medium { // body-4-regular
  font-family: 'Plus Jakarta Sans', 'Arial', sans-serif;
  font-size: toRem(14);
  line-height: toRem(20);
  font-weight: 400;

  @include respond-to(tablet) {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: toRem(12);
  }
}

@mixin body-small { // body-5
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: toRem(12);
  line-height: toRem(20);
  font-weight: 400;
}

@mixin caption {
  font-weight: 500;
  font-size: toRem(16);
  line-height: toRem(24);
  text-transform: uppercase;
}

@mixin shimmer-animation {
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#ffffff, 0) 0,
      rgba(#ffffff, 0.2) 20%,
      rgba(#ffffff, 0.5) 60%,
      rgba(#ffffff, 0)
    );
    animation: shimmer 13s ease infinite;
    content: '';
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  23% {
    transform: translateX(100%);
  }
}
