/* stylelint-disable declaration-no-important */
/* stylelint-disable unit-disallowed-list */
html {
  font-family: var(--app-font-family);
  font-weight: var(--app-font-weight);
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: vh(100);
  display: flex;
  flex-direction: column;
}

/* stylelint-disable-next-line */
body, #app {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--col-trendy);
  min-height: vh(100);
  background: var(--col-rich);
}

input,
select,
textarea {
  background: var(--col-intense);
  color: var(--col-fancy);
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: toRem(16);
  line-height: 1.5;
  font-weight: 400;
  padding: toRem(13) toRem(15);
  border: toRem(1) solid var(--col-brittle);
  border-radius: var(--border-radius);
  transition: var(--transition-duration);

  &:hover {
    border-color: var(--col-flexible);
  }

  &:focus {
    outline: 0;
    border-color: var(--col-primary);
  }

  &:read-only {
    border: none;
    background: var(--col-great);
    padding: toRem(16) toRem(24);
  }
}

body,
span {
  font-size: toRem(16);
}

button {
  border: none;
  width: auto;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  background: transparent;
  font-family: var(--app-font-family);
  font-size: toRem(16);
  color: var(--text-primary-main);
  line-height: 1.5;
  outline: 0;
  margin: 0;
  padding: 0;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

body,
p,
li,
ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: toRem(64);
}

h1 {
  font-size: toRem(56);
}

h2 {
  font-size: toRem(24);
}

h3 {
  line-height: 1.25;
  font-size: toRem(32);
  font-weight: 500;
}

h4 {
  font-size: toRem(20);
  line-height: 1.4;
}

h5 {
  font-size: toRem(18);
  line-height: toRem(24);
}

a {
  text-decoration: none;
  outline: none;
  transition: var(--transition-duration);

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: toRem(8);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--col-brittle);
  border-radius: var(--border-radius);

  &:hover {
    background: var(--col-flexible);
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}
