@import '../../static/branding/app-colors';

:root,
:before,
:after {
  /* brand colors */

  --col-intense: #{$intense};
  --col-rich: #{$rich};
  --col-great: #{$great};
  --col-grand: #{$grand};
  --col-fine: #{$fine};
  --col-trendy: #{$trendy};
  --col-fancy: #{$fancy};
  --col-dense: #{$dense};
  --col-rare: #{$rare};
  --col-brittle: #{$brittle};
  --col-flexible: #{$flexible};
  --col-primary: #{$primary};
  --col-basic: #{$basic};
  --col-initial: #{$initial};
  --col-original: #{$original};
  --col-positive: #{$positive};
  --col-negative: #{$negative};
  --col-pesky: #{$pesky};
  --col-accent: #{$accent};
  --col-spot: #{$spot};
  --col-stress: #{$stress};
  --col-success: #{$success};
  --col-lucky: #{$lucky};
  --col-peaceful: #{$peaceful};
  --col-quiet: #{$quiet};
  --col-tender: #{$tender};
  --col-home: #{$home};
  --col-genius: #{$genius};
  --col-wise: #{$wise};
  --col-simple: #{$simple};
  --col-soft: #{$soft};
  --col-glossy: #{$glossy};
  --col-crude: #{$crude};
  --col-mild: #{$mild};
  --col-calm: #{$calm};
  --col-smart: #{$smart};

  /* border radiuses */

  --border-radius: #{toRem(8)};
  --border-radius-medium: #{toRem(12)};
  --border-radius-large: #{toRem(16)};

  /* transition */
  --transition-duration: 0.2s;
  --transition-duration-slow: 0.5s;
  --transition-duration-fast: 0.1s;

  /* z-indexes */
  --z-modal: 5000;
  --z-app-navbar: 1000;
  --z-file-field-open-dialog-button: 100;
  --z-main-page-welcome: 20;
  --z-main-page-welcome-background-img: -10;

  /* App variables */
  --app-font-family: 'Plus Jakarta Sans', 'Arial', sans-serif;
  --app-font-weight: 500;
}
