.app__init {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__init-logo {
  width: 20%;
  color: #c9dcff;
  fill: #2d74ff;
  animation: twinkle 0.2s infinite alternate;
}

@keyframes twinkle {
  to {
    color: #9fc1ff;
    fill: #5790ff;
  }
}
